* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-max {
    width: 55rem;
    margin: 0 auto;
    padding: 4rem;
}

.div-ejercicio {
    width: 20rem; 
    text-align: left;
    border: solid rgb(58, 58, 58) 0.1rem;
}