.main-title{
    font-size: 3rem;
    color: #ffffffd3;
}
.title-search_container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.section-search{
    width: 100%;
    border-bottom: 0.18rem solid #790c0c;
    padding: 2rem 1rem 0.1rem 1rem;
    justify-content: space-between;

}
.search-input{
    text-align: center;
    padding: 0.2rem;
    width: 20rem;
    border: solid #1f1f1f;
    border-radius: 1rem;
    border-width: 0.2rem;
}
.search-input:focus{
    outline: none;
    border: 0.123rem solid #000000;
    box-shadow: 0rem 0rem 0.5rem #007be180;
}
.search-button{
    height: 1.9rem;
    width: 4rem;
    border: solid #1f1f1f;
    border-radius: 1rem;
    border-width: 0.2rem;
}
.search-button:hover{
    cursor: pointer;
}
.section-planets_title{
    text-align: center;
    width: 100%;
    border-bottom: 0.125rem solid #dfdfdf;
    margin: 12rem 1rem 1rem 1rem;
    padding: 0.6rem 0rem 0.6rem 0rem;
    background-color: #343a40;
    border: solid #1f1f1f;
    border-radius: 0.3rem;
    border-width: 0.2rem;
    box-shadow: 0.1rem 0.1rem 0.5rem #f5f5f580
}
.section-planets{
    flex-direction: row;
    overflow-x: auto;
    max-width: 100%;
    gap: 2rem;
    padding: 3rem;
}
.section-planets_container{
    max-width: 14rem;
    max-height: 21.5rem;
    padding: 1rem;
    box-shadow: 0.1rem 0.1rem 0.5rem #f5f5f580;
    background-color: #343a40;
    border: solid #1f1f1f;
    border-radius: 1rem;
}
.planets-container_name{
    text-align: center;
}
.planets-container_image{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.planets-content_image{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}
.planets-container_list{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}
.planets-container_button{
    padding: 1rem;
    display: flex;
    justify-content: center;
    
}