
body {
    background: rgba(134, 224, 252, 0.226);
    padding: 1.25rem;
    }
select {
    padding: 0.5rem;
    font-size: 1rem;
    }
#characters {
    margin-top: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    }
.card {
    background: white;
    max-width: 9rem;
    padding: 0.625rem;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.125rem 0.3125rem rgba(0,0,0,0.2);
    text-align: center;
    }
.card img {
    width: 100%;
    border-radius: 0.5rem;
    }
